{% extends 'base.html' %} {% block content %}
<main class="main--centered">
  <form action="" method="POST" class="form">
    {% csrf_token %}
    <div class="form-div">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" name="username" class="form-input" />
    </div>
    <div class="form-div">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" class="form-input" />
    </div>
    <div class="form-div">
      <button type="submit" class="form-button">Connexion</button>
    </div>
    <div class="form-div">
      {% if messages %} {% for message in messages %}
      <p class="p--error">{{message}}</p>
      {% endfor %} {% endif %}
    </div>
  </form>
</main>
{% endblock content %}
