{% extends 'base_with_navbar.html' %} {% block content %}
<main class="main">
  <div class="dashboard-topbar">
    <p>Gestion des utilisateurs</p>
    <div class="dashboard-topbar-btn-group">
      <button class="dashboard-topbar-btn">
        <a href="{% url 'register_by_admin' %}">Nouvel Utilisateur +</a>
      </button>
    </div>
  </div>
  {% if messages %} {% for message in messages %}
  <div class="message" x-data="{'showModal': true}" x-show="showModal">
    <p>{{message}}</p>
    <button @click="showModal = false">Fermer</button>
  </div>
  {% endfor %} {% endif %}
  <div class="table-container">
    <table>
      <thead>
        <tr class="thead-tr">
          <td>Nom d'utilisateur</td>
          <td>Nom</td>
          <td>Prénoms</td>
          <td>Courriel</td>
          <td>Base de revues</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.account.db}}</td>
          <td><a href="{% url 'delete_user' user.username %}">Supprimer</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
